@model CapaModelo.Venta
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documento</title>
    @Styles.Render("~/Content/PluginsCSS")
    <style type="text/css">
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .btn-secondary {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
</head>
<body>
    <div style="font-size: 11px; text-align: right;">
        <center>
            <button type="button" id="Imprimir" class="btn btn-secondary" onclick="window.print('seleccion')"><i class="fas fa-print"></i> Imprimir</button>
        </center>
        <br>
    </div>
    <div id="seleccion">
        <center>
            <table style="width: 650px; border:2px solid #17a2b8;padding: 10px;">
                <tr>
                    <td>
                        <table id="cabezera">
                            <tr>

                                <td style="width:290px">
                                    <table style="width:100%">
                                        <tr><td><label style="font-size:14px;font-weight:bold;text-align:left;width:100%;display:block">JULIO ANTONIO GARCÍA RODRÍGUEZ</label></td></tr>
                                        <tr><td colspan="4" align="left" style="font-size:13px">HUEVOS JG</td> </tr>
                                        <tr><td colspan="4" align="left" style="font-size:13px">C/DR. Betances. No. 145, Mej. Social, Sto. Dgo, D.N</td> </tr>
                                        <tr><td colspan="4" align="left" style="font-size:13px">Tel: 809-538-8068 / Cel: 809-399-0143</td> </tr>
                                        <tr><td colspan="4" align="left" style="font-size:13px">RNC/CÉDULA: 001-02379765</td> </tr>
                                        <td> Fecha: <span>@Html.DisplayTextFor(model => model.FechaRegistro)</span> </td>
                                    </table>
                                </td>
                                <td style="width:230px; position:relative; left:80px">
                                    <table style="width: 100%; height: 100px; font-weight: bold;border:2px solid #17a2b8;font-size:14px; border-collapse:collapse ">
                                        
                                        <tr>
                                            <td colspan="4" style="font-size: 12px; padding-left: 5px">FACTURA DE CRÉDITO FISCAL</td>
                                        </tr>

                                        <tr >
                                        <td align="left" style="border: 2px solid #17a2b8; width: 50%; padding-left: 5px ">NCF: </td>
                                        <td align="left" style="border: 2px solid #17a2b8; width: 50%; padding-left:5px">B0100<span>@Html.DisplayTextFor(model => model.Codigo)</span></td>
                                        
                                        </tr>

                                        <tr>
                                            <td align="left"style="border: 2px solid #17a2b8; width: 50%; padding-left: 5px ">Valido hasta:</td>
                                            <td align="left"style="border: 2px solid #17a2b8; width: 50%; padding-left: 5px ">31/12/2024</td>
                                        
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr style="height: 20px;"><td><br></td></tr>
                <tr>
                    <td>
                        <table style=" width: 100%;" border="0">
                            <tr>
                                <td colspan="1" style="width: 50px !important; padding: 5px">NOMBRE:</td>
                                <td colspan="5" style="border-bottom:1px solid #000"><span>@Html.DisplayTextFor(model => model.oCliente.Nombre)</span></td>

                            </tr>
                            <tr>

                                <td style="width: 50px; font-size: 12px;padding:5px">RNC/CÉDULA CLIENTE:</td>
                                <td style="border-bottom:1px solid #000;border-collapse:collapse"><span>@Html.DisplayTextFor(model => model.oCliente.NumeroDocumento)</span></td>


                                <td colspan="1" style="width:50px !important;">Direccion:</td>
                                <td colspan="5" style="border-bottom:1px solid #000"><span>@Html.DisplayTextFor(model => model.oCliente.Direccion)</span></td>

                            </tr>
                            <tr>
                                <td style="width: 50px; padding: 5px"> Telefono:</td>
                                <td style="border-bottom:1px solid #000"><span>@Html.DisplayTextFor(model => model.oCliente.Telefono)</span></td>

                                <td style="width:50px"> Condiciones: </td>
                                <td style="border-bottom:1px solid #000"><select><option value="opcion1">Crédito</option><option value="opcion2">Al contado</option></select></td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td><hr /></td></tr>
                <tr style=" -webkit-print-color-adjust: exact;">

                </tr>
                <tr>
                    <td>
                        <table id="tbCompras" border="1" style=" width: 100%;">
                            <thead>
                                <tr style="color:#fff;background-color:#17a2b8; -webkit-print-color-adjust: exact;">
                                    <th style="width: 15%;">Cantidad</th>
                                    <th style="width: 25%;">Descripcion</th>
                                    <th style="width: 25%;">Precio Unitario</th>
                                    <th style="width: 10%;">ITBIS</th>
                                    <th style="width: 25%;">SubTotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.oListaDetalleVenta)
                                {
                                    <tr>
                                        <td align="center">@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                        <td align="center">@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                                        <td align="center">@Html.DisplayFor(modelItem => item.TextoPrecioUnidad)</td>
                                        <td align="center">0</td>
                                        <td align="center">@Html.DisplayFor(modelItem => item.TextoImporteTotal)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr style="height: 10px;"><td colspan="6"><br /><br /></td></tr>
                <tr>
                    <td>
                        <table style="font-weight: bold; width:100%">
                            <tr>
                                <td colspan="4">
                                    <table width='250' style="margin-bottom:50px">
                                        <tr style="border:1px solid #17a2b8; margin-bottom:5px">

                                            <td>Entregado por:</td>
                                            
                                            <td style="position:absolute;">Recibido por:</td>

                                        </tr>
                                    </table>
                                </td>
                                <td colspan="2" align="right">
                                    <table style="font-weight: bold; width: 150px; border: 2px solid #17a2b8; border-collapse: collapse">
                                        <tr>
                                            <td style="border: 1px solid #17a2b8; ">Descuento</td>
                                            <td style="color:#fff;background-color:#17a2b8; -webkit-print-color-adjust: exact;border:1px solid #17a2b8;"><span id="montopago">@Html.DisplayTextFor(model => model.TextoImporteRecibido)</span>  DOP</td>
                                        </tr>
                                        <tr>
                                            <td>Total S/.</td>
                                            <td style="color:#fff;background-color:#17a2b8; -webkit-print-color-adjust: exact;border:1px solid #17a2b8;"><span id="totalcosto">@Html.DisplayTextFor(model => model.TotalCosto)</span> DOP</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    @Scripts.Render("~/Content/PluginsJS")
    <script>

        function imprSelec(nombre) {
            var printContents = document.getElementById(nombre).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

    </script>

</body>
</html>
